name: .NET Build and Test
on:
  push:
  pull_request:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup dotnet .NET 10.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'
          cache: true
          cache-dependency-path: |
            ./**/*.csproj
            ./Directory.Packages.props

      - name: Install dependencies
        run: dotnet restore

      - name: Check Formating
        run: dotnet format --verify-no-changes

      - name: Build
        run: dotnet build --no-restore

      - name: Test with the dotnet CLI
        run: dotnet test --no-build
